sudo: required
services:
  - docker

before_install:
  - docker build -t trinhvuduc/docker-react -f Dockerfile.dev .

scipt:
  - docker run -e CI=true trinhvuduc/docker-react npm run test

deploy:
  edge: true
  provider: elasticbeanstalk
  region: "us-west-1"
  app: "docker-react"
  env: "Dockerreact-env"
  bucket_name: "elasticbeanstalk-us-west-1-260634007935"
  bucket_path: "docker-react"
  on:
    branch: master
  access_key_id: $AWS_ACCESS_KEY
  secret_access_key: $AWS_SECRET_KEY